﻿@model SurveyResult
@{
    ViewData["Title"] = "Favorite Parks";
}
<h2>
    Top Favorite Parks
</h2>
@{
    bool isColored = false;
    string coloredClass = "";
    for (int i = 0; i < Model.VoteResults.Count; i++)
    {
        coloredClass = (isColored) ? "AllParksColoredTile" : "";
        <div class="@coloredClass">
            <img class="AllParksPic" style="width:20em" src="~/images/parks/@Model.VoteResults[i].ImgParkCode" />
            <div class="AllParksInfo">
                <h4><b>@Model.VoteResults[i].ParkNames[Model.VoteResults[i].ParkCode]</b></h4>
                <p>Survey Count: @Model.SurveyCount[Model.VoteResults[i].ParkCode]</p>
            </div>
        </div>
        isColored = !isColored;
    }
}