﻿@model SurveyResult
@{
    ViewData["Title"] = "Home Page";
}
<h2>
    Daily Survey
</h2>

<form asp-controller="Survey" asp-action="NewSurvey" method="post">
    <div>
        <label class="NewVoteColOne" asp-for="ParkCode">Preferred Park: </label>
        <select asp-for="ParkCode" asp-items="SurveyResult.ParkCategories"></select>
        <br />

        <label class="NewVoteColOne" asp-for="EmailAddress">Your Personal Email: *</label>
        <input asp-for="EmailAddress" type="text" required />
        <span asp-validation-for="EmailAddress"></span>
        <br />

        <label class="NewVoteColOne" asp-for="State">Your State of Residence: *</label>
        <input asp-for="State" type="text" required />
        <span asp-validation-for="State"></span>
        <br />

        <label class="NewVoteColOne" asp-for="ActivityLevel">Select Your Activity Level Categories: </label>
        <select asp-for="ActivityLevel" asp-items="SurveyResult.ActivityCategories"></select>
        <br />
    </div>
    <div class="NewVoteColOne"></div>
    <input type="submit" value="Submit" />
</form>
