﻿@model ParkInfo
@{
    ViewData["Title"] = "Park Detail Page";
}

@{
<div style="background-color: lightgray; padding-bottom:1em; margin-top:2em">
    <img class="AllParksPic" src="~/images/parks/@Model.ImgParkCode" />
    <div class="AllParksInfo">
        <h3><b>@Model.ParkName</b> <span style="font-size:75%">(@Model.ParkCode)</span></h3>
        <div>State: @Model.State</div>
        <div>Acreage: @Model.Acreage.ToString("N0")</div>
        <div>Elevation: @Model.ElevationFeet.ToString("N0") Ft.</div>
        <div>Trail Length: @Model.TrailMiles.ToString("N0") Miles</div>
        <div>Number of Campsites: @Model.NumberOfCampsites.ToString("N0")</div>
        <div>Climate: @Model.Climate</div>
        <div>Year Founded: @Model.YearFounded</div>
        <div>Annual Visitor count: @Model.AnnualVisitorCount.ToString("N0")</div>
        <div>Entry Fee: @Model.EntryFee.ToString("C")</div>
        <p>Number of Animal Species in park: @Model.NumOfAnimalSpecies.ToString("N0")</p>
    </div>
    <hr style="width:50%"/>
    <div style="margin-top:1em; margin-left:5em; margin-right:5em;">
        <div style="font-style:italic">
            <div>"@Model.Quote"</div>
            <p style="margin-left:5em">- @Model.QuoteSource</p>
        </div>
        <p>@Model.ParkDescription</p>
    </div>
</div>

    <div>
        <h3> 5 Day forecast</h3>
        @for (int i = 0; i < Model.Weather.Count; i++)
        {
            <div style="display:inline-block; vertical-align:top; width:19%">
                <img src="~/images/weather/@Model.Weather[i].ImgForecast" style="width:90%" />
                <div style="background-color:lightgray; height:12em; padding:.5em">
                    <p>Day of: @Model.Weather[i].DayOfForecast</p>
                    @if (!@Model.Weather[0].IsFarenheit)
                    {
                        <div>Low Temp: @Model.Weather[i].LowTempC.ToString("f0") @Model.TempCategories</div>
                        <p>High Temp: @Model.Weather[i].HighTempC.ToString("f0") @Model.TempCategories</p>
                    }
                    else
                    {
                        <div>Low Temp: @Model.Weather[i].LowTempF @Model.TempCategories</div>
                        <p>High Temp: @Model.Weather[i].HighTempF @Model.TempCategories</p>
                    }
                    <div>Forecast: @Model.Weather[i].Forecast</div>
                    <p style="font-style:italic">@Model.Weather[i].ReccomendationMsg</p>
                </div>
            </div>
        }
        <form style="margin-top:.5%" asp-controller="Home" asp-action="DetailFtoC" method="post">
            <label asp-for="ParkCode" hidden="hidden">Detail Mode: </label>
            <input asp-for="ParkCode" value="@Model.ParkCode" hidden="hidden" />
            <label asp-for="TempCategories">Temperature in F or C: </label>
            <select asp-for="TempCategories" asp-items="@ParkInfo.WeatherTypes"></select>
            <input type="submit" value="Convert" />
        </form>
    </div>
}