﻿@model ParkInfo
@{
    ViewData["Title"] = "All Parks Page";
}

<div style="margin-top:.895em">
    @{
        bool isColored = false;
        string coloredClass = "";
        for (int i = 0; i < Model.Results.Count; i++)
        {
            coloredClass = (isColored) ? "AllParksColoredTile" : "";
            <div class="@coloredClass">
                <img class="AllParksPic" src="~/images/parks/@Model.Results[i].ImgParkCode" />
                <div class="AllParksInfo">
                    <h4><b>@Model.Results[i].ParkName</b></h4>
                    <p>Park Description: @Model.Results[i].ParkDescription</p>
                    <form asp-controller="Home" asp-action="Detail" method="post">
                        <label asp-for="ParkCode" hidden="hidden">Detail Mode: </label>
                        <input asp-for="ParkCode" value="@Model.Results[i].ParkCode" hidden="hidden" />
                        <input type="submit" value="Detail Mode" />
                    </form>
                </div>
            </div>

            isColored = !isColored;
        }
    }
</div>